.btn1{
	padding:25px;
	border-radius: 10px;
	background-color:#66A680;
	border:0px; 
	width:250px;
	font-size:20px;
	
	
}

.btn1:hover{
	background-color:#8FCA9A;
	
}

.btn1:active{
	background-color:#66A680;
	
}

.msg1{
	font-size:20px;
	margin:00px;
	padding:00px;
	color:black;
	
}

.separator{
	height:1px;
	background-color:grey;
	margin:20px;
}

.header{
	background-color: white;
    overflow: hidden;
    position: fixed;
    width:100%;
    top:0;
    opacity: 0.9;
    margin:auto;
	background-color:#ed1c24;
	border-bottom:2px solid #C30808;
}

#textarea1{
    background: url(http://i.imgur.com/2cOaJ.png);
	background-attachment: local;
	background-repeat: no-repeat;
	padding-left: 35px;
	padding-top: 10px;
    border-color:#ccc;
	font-size:105%;
}

#textarea1:focus {
	box-shadow:0px ;
		
}

#textarea1:hover {
	box-shadow:0px 0px 2px 1px grey;
		
}

table, td {
    border: 1px solid grey;
    border-collapse: collapse;
}


#output001 td{
	padding: 5px 10px;
}

table tr:hover{
	background-color:#CFEAFD;
}

.paratd{
	width:5%;
}


.keywordtd{
	width:35%;
}






























